* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #0F0F0F;
    font-family: 'Poppins', sans-serif;
}


.container {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header header header header"
        "main    main   main   main"
        "main    main   main   main"
        "footer footer footer footer"
    ;
}

@media screen and (max-width:576px) {
    .container {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "sidebar"
            "advertise"
            "footer"
        ;
    }
}

.header {
    grid-area: header;
}

.nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-div {
    top: 0;
    padding: 5px;
    width: 65%;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.logo {
    display: flex;
    width: 10%;
    min-width: 70px;
}

.logo img {
    width: 100%;
}

.page-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.list-name {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(166, 166, 166);
    transition: .3s;
}

.list-name:hover {
    color: white;
}


.talk-btn {
    color: white;
    background-image: linear-gradient(rgba(242, 242, 242, 0.195), #bfbfbf50);
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    transition: .4s;
}

.talk-btn:hover {
    color: #0F0F0F;
    background-color: white;
}

/* main style  */


.main {
    grid-area: main;
    max-width: 1046px;
    margin: 30px auto 100px;
}

.heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
}

.item-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 50px;
}

.item {
    max-width: 250px;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(60deg, #3a3a3a6c, #3a3a3a20);
    border-left: 1px solid rgb(59, 55, 55);
}

.item:hover img {
    transform: scale(1.1);
}

.item h3 {
    font-size: 15px;
}

.content {
    padding: 15px;
}

.item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    transition: .3s;

}

.item span {
    color: rgb(143, 143, 143);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
}

.item a {
    color: white;
    text-decoration: none;
}

.live-btn {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(242, 242, 242, 0.195), #bfbfbf50);
    padding: 10px 18px;
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    transition: .4s;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.live-btn:hover {
    border: 1px solid white;
    color: #ffffff;
    background-color: rgb(0, 0, 0);

}

.footer {
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    grid-area: footer;
    margin-bottom: 20px;
}

/* responsive for navigation bar*/

@media screen and (min-width: 576px) and (max-width:992px) {
    .nav-div {
        width: 100%;
        position: fixed;
        top: 0;
    }

    .logo img {
        width: 100%;
    }

    .page-list {
        gap: 25px;
    }

    .page-list li {
        font-size: 11px;
    }

    .talk-btn {
        font-size: 10px;
        padding: 10px 15px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .nav-div {
        width: 100%;
        position: fixed;
        top: 0;
    }

    .logo img {
        width: 100%;
    }

    .heading {
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 16px;
    }

    .item-container {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-bottom: 50px;
    }

    .page-list {
        gap: 20px;
    }

    .page-list li {
        font-size: 11px;
    }

    .talk-btn {
        font-size: 10px;
        padding: 10px 15px;
        margin-right: 10px;
    }
}